<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop_service.mapper.ShopCardFundDetailMapper">
    <select id="selectAdminShopCardFundDetailVoPage" resultType="com.shop_service.model.response.AdminShopCardFundDetailVo">
        SELECT
            t1.shop_id,
            t1.shop_no,
            t2.name AS shopName,
            t1.type,
            t1.card_id,
            t1.card_no,
            t1.amount,
            t1.fee,
            t1.currency,
            t1.order_amount,
            t1.order_currency,
            t1.detail,
            t1.mcc,
            t1.remark,
            t1.merchant_country,
            t1.related_card_transaction_id,
            t1.status,
            t1.transaction_time,
            t1.create_time
        FROM shop_card_fund_detail t1
        LEFT JOIN shop t2 ON t1.shop_id = t2.id
        <where>
            AND t1.deleted = 0
            AND t2.deleted = 0
            <if test="query != null">
                <if test="query.shopId != null">
                    AND t1.shop_id = #{query.shopId}
                </if>
                <if test="query.shopNo != null and query.shopNo != ''">
                    AND t1.shop_no LIKE CONCAT('%', #{query.shopNo}, '%')
                </if>
                <if test="query.shopName != null and query.shopName != ''">
                    AND t2.name LIKE CONCAT('%', #{query.shopName}, '%')
                </if>
                <if test="query.cardId != null and query.cardId != ''">
                    AND t1.card_id LIKE CONCAT('%', #{query.cardId}, '%')
                </if>
                <if test="query.cardNo != null and query.cardNo != ''">
                    AND t1.card_no LIKE CONCAT('%', #{query.cardNo}, '%')
                </if>
            </if>
        </where>
        ORDER BY t1.create_time DESC, t1.id DESC
    </select>

    <select id="selectTotalAmount" resultType="decimal">
        SELECT
        COALESCE(SUM(amount), 0)
        FROM shop_card_fund_detail
        <where>
            AND deleted = 0
            <if test="type != null and type != ''">
                AND `type` = #{type}
            </if>
            <if test="date != null">
                AND DATE(create_time) = #{date}
            </if>
        </where>
    </select>
</mapper>